@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw 0;
}

header #main-title {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px grey;
    font-family: "Rubik Doodle Shadow";
}
